.Banner-style{
    height: 100vh;
    background-color: rgb(34, 33, 33);

    
}
.i-Social{
     height: 50px;
    width: 50px;
    color: black;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.profile-image{
    height: 300px;
    width: 300px;
}