.project-style{
    min-height: 90vh;
    background-color: rgb(34, 33, 33);
}
.card-style{
    height: 500px !important;
}
.card-body-style{
    height:260px !important;
}
.link-style{
    color: black !important;
    text-decoration: none;
}
@media (max-width:900px) {

    .card-body-style{
    height:350px !important;
}
}

@media (max-width:500px) {

    .card-body-style{
    height:260px !important;
}
}